html {
  font-size: 16px;
}

body {
  font-family:
    Pretendard,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Noto Sans KR',
    sans-serif;

  background-color: var(--color-bg-1);
  color: #1c1917;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #1c1917;
}

p {
  color: #57534d;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
